.thead {
    border: solid;
    border-collapse: collapse;
    background-color: #B47B84;
    font-size: 30px;
    font-family: sans-serif;
    padding: 20px;
}

table {
    margin-top: 50px;
    font-size: 40px;
     margin-left: 20%;
} 

caption {
    text-align: center;
    color: red;
    font-size: 30px;
}

td {
    background-color: #EBD9B4;
    float: 20px;
    padding: 20px;
}

.holiday {
    background-color: #944E63;
}

.blank {
    background-color: #A6CF98;
}