/* styling for main box */
.main {
    background-color: aliceblue;
    height: 1200px;
    width: 80%;
    border-style: solid;
    margin-left: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* styling for 1st row */
.firstrow {
    background-color: black;
    background-image: url(https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsb2ZmaWNlMThfZGlnaXRhbF9hYnN0cmFjdF9saW5lX2FydF9lbWl0dGVyX2JsdWVfbGlnaHRfZF9iZTYzZmU2Yi02YTc3LTRlMjctOGQ1Ni0xZWFiMGViOWU0MjFfMS5qcGc.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* styling for 2nd box */

.secondbox {
    color: #2D9596;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.form-project {
    background-color: #2D9596;
    font-size: 20px;
    color: black;
    padding: 10px;
    border-style: groove;
    border-color: black;
    font-family: serif;

}

.youtube-page {
    background-color: #9195F6;
    color: black;
    padding: 10px;
    border-style: groove;
    border-color: black;
    font-family: serif;
}

/* styling for 1st row */

.firstbox {
    background-color: white;
    height: 80%;
    width: 70%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 10%;
    padding: 3%;
    background-image: url(https://cdn.pixabay.com/photo/2016/12/16/15/25/christmas-1911637_1280.jpg);
}

/* styling for 2nd row */
.secondrow {
    background-color: #9195F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: groove;
    border-color: black;
}

/* styling for second row 3 column */
.first-col {
    font-family: serif;
    background-color: #9195F6;
    font-size: 20px;
    color: black;
    padding: 10px;
    border-style: groove;
    border-color: black;
    font-size: 20px;
}

.second-col {
    font-family: serif;
    background-color: #9195F6;
    font-size: 20px;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.third-col {
    font-family: serif;
    background-color: #9195F6;
    font-size: 20px;
    color: black;
    padding: 10px;
    border-style: groove;
    border-color: black;
    font-size: 20px;
}

.thirdbox {
    background-color: pink
}

/* styling for image */
.images {
    height: 90%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}